{
  "printWidth": 80,
  "overrides": [
    {
      "files": [
        "./extensions/core/@types/app.d.ts",
        "./extensions/core/@types/cc2d.d.ts"
      ],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
